.listcontent{
    width: 100%;
    height: auto;
    overflow: hidden;
    .section-title{
        position: relative;
        line-height: 44px;
        height: 44px;
        text-align: center;
        background: #fff;
        margin-top: 10px;
        .divider{
            position: relative;
            font-size: 16px;
            font-weight: 700;
            .new-color{
                color: #ff4160;
                img{
                    display: block;
                    position: absolute;
                    width: 25px;
                    left: -28px;
                    top: -5%;
                }
            }
        }
    }
    .list-wrapper{
        width: 100%;
        overflow: hidden;
        .list-content{
            margin-right: -3px;
            font-size: 14px;
            overflow: hidden;
            .list-item{
                float: left;
                width: 50%;
                padding-right: 3px;
                margin-bottom: 6px;
                box-sizing: border-box;
                &:nth-child(2n){
                    padding-right: 0;
                    padding-left: 3px;
                }
                .square-box{
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .detail-content{
                    line-height: 1;
                }
                .section-content{
                    padding: 12px 10px;
                    background: #fff;
                    .row-mb12{
                        margin-bottom: 12px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .text-small{
                        font-size: 12px;
                        .price{
                            margin-bottom: 10px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            .text-small {
                                font-size: 12px;
                            }
                            .theme-color{
                                color:#f35;
                                .text-big{
                                    font-weight: 700;
                                    font-size: 16px;
                                }
                            }
                            .tip{
                                color:#999;
                                margin-left: 6px;
                            }
                        }
                        .flex-between{
                            display: flex;
                            align-items: center;
                            color: #666;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}